@page "/"

<PageTitle>Startsida</PageTitle>

<h3>Laboration 1,2</h3>
<p>Denna webbplats är utvecklad med hjälp av Blazor WebAssembly</p>
<p>I sidan "Konvertera" kan man konvertera meter till fot och vice versa samt konvertera meter per timme till american mile per timme och vice versa</p>
<p>I sidan "JSON" hämtas det json-data från en REST API och renderas på skärmen</p>
<p>Denna webbplats är Javascript-fri, all innehåll är skapat med Blazor samt Razor syntax</p>


<labb1._2.Components.Blazologo />